# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        AppBundle\Entity\User: bcrypt
    providers:
        database_users:
            entity: { class: AppBundle:User, property: email }
        hwi:
            id: hwi_oauth.user.provider
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
              anonymous: ~
              oauth:
                  resource_owners:
                      auth0: "/auth0/callback"
                  login_path:        /login
                  use_forward:       false
                  failure_path:      /login

                  oauth_user_provider:
                      service: hwi_oauth.user.provider

        main:
            anonymous: ~
            guard:
                authenticators:
                    - app.form_login_authenticator
            logout:
                path: /logout
                target: /
